.title {
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: system-ui;
    -webkit-text-stroke: 1px black;
    text-shadow: 4px 4px 0 #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.acoes {
    align-self: center;
}

.fundos {
    align-self: center;
}

.text {
    text-align: center;
    
    padding: 0 100px;
    font-size: 16px;
    font-family: 'Times New Roman';
}

.examples {
    display: flex;
    justify-content: space-between;
}

.ativos {
    display: inline-block;
    margin-left: 200px;
}

.setores {
    display: inline-block;
    margin-right: 200px;
}