* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    position: absolute;
    margin: 0 0;
    background-color: #f6fcf7;
}

header {
    background-color: #d7fce1;
}

.logo-container {
    align-items: center;
    display: inline-block;
}

.logo-container .logo {
    width: 250px;
    text-align: center;
    float: right; 
    margin-right: 100px; 
    margin-left: 10px; 
    margin-bottom: 5px;
}

.page-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(106,171,57,1) 16%, rgba(135,172,58,1) 50%, rgba(172,170,53,1) 100%);;
    margin: 0 auto;
    padding: 3% 15%;
}

.sector-content {
    border: #000 solid;
    border-width: 10px;
    border-style: inset;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: white;
}

.title {
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: system-ui;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 4px 4px 0 #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.text {
    font-family: sans-serif;
    text-align: justify;
    text-justify: inter-word;
    -webkit-text-stroke: 0.2px black;
}

.text-content {
    display: flex;
    align-items: center;
    padding: 0% 5%;
}

.examples {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;    
}