* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f6fcf7;
}

header {
    width: 600%;
    background-color: #d7fce1;
}

.logo-container {
    align-items: center;
    display: inline-block;
}

.logo-container .logo {
    width: 250px;
    text-align: center;
    float: right; 
    margin-right: 100px; 
    margin-left: 10px; 
    margin-bottom: 5px;
}

.page-container {
    padding: 0% 28%;
    position: absolute; 
}

.circles-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 5% 0%;
}

.circle{
    background: #d7fce1;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: space-evenly;
}

.shadow-circle {
    width: 250px;
    height: 250px;
    background-color: #9dfab6;
    border-radius:50%;
    box-shadow: 3px 3px 3px #9dfab6;
    opacity: 90%;
}
  
.text-content {
    text-align: justify;
    text-justify: inter-word;
    padding: 4% 1%;
    font-size: 16px;
}

.title {
    display: flex;
}