* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    position: absolute;
    margin: 0 0;
}

header {
    background-color: #d7fce1;
}

.logo-container {
    width: 77%;
    display: inline-block;
}

.logo-container .logo {
    width: 250px;
    text-align: center;
    float: right; 
    margin-right: 100px; 
    margin-left: 10px; 
    margin-bottom: 5px;
}

.page-container {
    background-color: #f6fcf7;
    padding: 0% 27%;
    margin: 0 0;
}

.acoes {
    border: #000 solid;
    border-width: 1px;
}

.fundos {
    border: #000 solid;
    border-width: 1px;
}

.title {
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: system-ui;
    -webkit-text-stroke: 1px black;
    text-shadow: 4px 4px 0 #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.text {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 3%;
}

.examples {
    display: flex;
    justify-content: space-evenly;
    padding: 0 100px;
}

.ativos {
    display: inline-block;
    margin-left: 100px;
}

.setores {
    display: inline-block;
    margin-right: 100px;
}